html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header-table{
    width: 100%;
}

.title {
    text-align: center;
    font-weight: bold;
}

#file th {
    text-align: center;
}

.table thead tr th {
    border-bottom: 2px solid black;
}

.total {
    font-weight: bold;
}